---
layout: default
#title: Лента событий
---

<style>
.content > p {
  float: none;
}
.content > p > img {
  max-width: 30%;
  height: auto;
  float: left;
  padding-right: 1.5em;
}
</style>

<H1 style="widht:100%; color: #FFF; background-color: #AAA; padding: 10px; text-align: center; letter-spacing: +4px; margin-bottom: +1em;">ЛЕНТА СОБЫТИЙ</H1>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {% capture anonce %}{{ post.content | truncatewords: 80 }}{% endcapture %}
    {{ anonce }}
    {% if anonce != post.content %}
      <a href="{{ post.url }}">[&nbsp;продолжение&nbsp;]</a>
    {% endif %}
  </div>
  <hr style="border: 0; height: 1px; background-color: #DEDEDE;">
  <p>&nbsp;</p>
{% endfor %}

<!-- Pagination links -->
<div class="pagination" style="text-align: center;">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      &lt;&lt;предыдущая
    </a> |
  {% endif %}
  <span class="page_number ">
    страница {{ paginator.page }} из {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    | <a href="{{ paginator.next_page_path }}" class="next">следующая&gt;&gt;</a>
  {% endif %}
</div>

<div class="rss-subscribe" style="font-weight: bold; text-align: right;">
Подписаться <a href="{{ "/feed.xml" | relative_url }}">по RSS</a>
</div>
